:root {
    --white-color:#fff !important;
    --black-color:#000 !important;
    --text-color:#333 !important;
}

* {
    margin:0;
    padding:0;
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%; //10px
    line-height: 1.6rem;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1400px;
    max-width:100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
