:root {
    --primary-color:#ee4d2d;
    --white-color:#fff !important;
    --black-color:#000 !important;
    --text-color:#333 !important;
    --border-color:#dbdbdb !important;
}

* {
    margin:0;
    padding:0;
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1400px;
    max-width:100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes growth {
    from {
        opacity:0;
        transform: scale(var(--growth-from));
    }
    to {
        opacity:1;
        transform: scale(var(--growth-to));
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    position: absolute;
    z-index: 1;
    animation:growth linear 0.3s;
}
.btn{
    height: 34px;
    min-width: 142px;
    border: none;
    border-radius:2px;
    cursor: pointer;
    background-color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}
.btn.btn--normal:hover {
    background-color:#999;
}
.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
